[Desktop Entry]
Comment=A semi-transparent black theme based on top of the default Breeze theme.
Name=Breeze AlphaBlack
X-KDE-PluginInfo-Author=KDE Visual Design Group + Zren
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=breeze-alphablack
X-KDE-PluginInfo-Version=20
X-KDE-PluginInfo-Website=https://github.com/Zren/breeze-alphablack
X-Plasma-API=5.0

X-KPackage-Dependencies=kns://plasmoids.knsrc/api.kde-look.org/1237963

[ContrastEffect]
enabled=true
contrast=1.0
intensity=1.0
saturation=1.0
